<div class="container m-5 flex" id="login-page">
  <div class="login-box">
    <h2>管理者ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="user-box">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="user-box">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: 'btn-grad small-btn' %>
      </div>
    <% end %>
  </div>

  <div class="ms-3">
    <div class="fontweight-700">
      <p><i>このアプリはプログラミングスクールで作った作品です。</i></p>
      <p><i>そのため、データベースを一時間毎にリセットさせていただいております。</i></p>
      <p><i>サイトをご覧いただけるよう、こちらのログインメールとパスワードをご使用ください。</i></p>
      <p><i>コピーするため、直接メールやパスワードにクリックしてください。</i></p>
      <p>メール：<span class="textToCopy">admin@vsen.com</span></p>
      <p>パスワード：<span class="textToCopy">123456</span></p>
    </div>
  </div>
</div>