<!--<%# if current_admin %>-->
<!--  <div>-->
<!--    <%# @orders.each do |order| %>-->
<!--      <%# order.order_items.each do |order_item| %>-->
<!--        <div>-->
<!--          <%# order_item.item.name %>-->
<!--          <%# order_item.quantity %>-->
<!--        </div>-->
<!--      <%# end %>-->
<!--    <%# end %>-->
<!--  </div>-->
<!--<%# end %>-->

<div class="flex flex-column m-auto my-4">
<h3>注文履歴</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><% if current_admin %>#<% end %></th>
      <th scope="col">注文日</th>
      <th scope="col">お客様名</th>
      <th scope="col">注文の合計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <% if current_admin %>
            <%= order.id %>
          <% end %>
        </td>
        <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.order_price.to_s(:delimited) %>円</td>
        <% if current_customer %>
          <td><%= link_to "詳細", order_path(order), class: 'btn-grad small-btn' %></td>
        <% else %>
          <td><%= link_to "詳細", admin_order_path(order), class: 'btn-grad small-btn' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  <span>
    <%= link_to_prev_page @orders, '前へ', class: 'btn-grad small-btn me-1' %>
    <%= link_to_next_page @orders, '次へ', class: 'btn-grad small-btn ms-1' %>
  </span>
<% if current_admin %>
  <div>
    <%= link_to "戻る", :back, class: 'btn-grad' %>
  </div>
<% end %>
</div>