<ul>
  <% @orders.each do |order| %>
    <li>
      <% if current_admin %>
        <%= order.id %>
      <% end %>
      <%= order.created_at.strftime("%Y/%m/%d") %>
      <%= order.customer_name %>
      <%= order.customer_address %>
      <%= order.order_price.to_s(:delimited) %>
      <%= link_to "詳細", order_path(order) %>
    </li>
  <% end %>
</ul>

<%= link_to "戻る", :back %>