<% @current_cart.order_items.each do |item| %>
  <%= item.item.name %>
  <%= item.item.add_tax %>
  <%= item.quantity %>
  <%= item.subtotal.to_s(:delimited) %>
<% end %>

<div>
  合計：<%= @current_cart.total_price.to_s(:delimited) %>
</div>

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :customer_name %>
  <%= f.hidden_field :customer_address %>
  <%= f.hidden_field :order_price %>
  <%= f.submit "注文を確認する" %>
<% end %>