<!--sidebar１-->
<p>
  <%= link_to "注文履歴一覧", orders_path %>
  <%= link_to "ECサイト詳細", ec_info_path %>
</p>

<!--graph1 (ECサイト）-->
<div class="graph-box1">
  <h4>ECサイトの情報</h4>
  <%= column_chart [{name: "今週の売上", data: @ec_chart, }], thousands: "," %>
</div>

<!--sidebar2-->
<p>
<%= link_to "店内情報", revenues_path %>
</p>

<!--graph2（店内用）-->
<div class="graph-box1">
  <h4>店内の情報</h4>
  <%= column_chart [{name: "今週の売上", data: @store_chart, }], thousands: "," %>
</div>


<!--お知らせ一覧（四つまで表示）-->
<%= render 'posts/post_all' %>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "投稿" %>
<% end %>