<!--sidebar１-->
<p>
  <%= link_to "注文履歴一覧", orders_path %>
</p>

<!--graph1-->
<div class="graph-box1">
  <h4>ECサイトの情報</h4>
  <%= column_chart [{name: "今週の売上", data: @chart_data, }], thousands: "," %>
</div>

<!--お知らせ一覧（四つまで表示）-->
<%= render 'posts/post_all' %>

<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "投稿" %>
<% end %>