<div class="container">
    <div class="flex justify-content-evenly">
      <!--sidebar１-->
      <div class="sidebar align-self-center flex flex-column justify-content-evenly">
        <ul class="flex flex-column p-2">
          <li class="align-self-center"><%= link_to "注文履歴一覧", orders_path, class: 'text-white' %></li>
          <li class="align-self-center"><%= link_to "ECサイト詳細", ec_info_path, class: 'text-white' %></li>
          <li class="align-self-center"><%= link_to "商品新規登録", new_item_path, class: 'text-white' %></li>
        </ul>
      </div>

      <!--graph1 (ECサイト）-->
      <div class="graph-box1 flex flex-column align-items-center my-4">
        <h4 class="my-2">ECサイトの情報</h4>
        <%= column_chart [{name: "今週の売上", data: @ec_chart, }], thousands: "," %>
      </div>
    </div>
</div>


<div class="container">
    <div class="flex justify-content-evenly">
      <!--graph1 (ECサイト）-->
      <div class="graph-box1 flex flex-column align-items-center my-4">
        <h4 class="my-2">店内の情報</h4>
          <%= column_chart [{name: "今週の売上", data: @store_chart, }], thousands: "," %>
      </div>

      <!--sidebar2-->
      <div class="sidebar align-self-center flex flex-column justify-content-center">
        <ul class="flex flex-column p-2">
          <li class="align-self-center"><%= link_to "店内情報", revenues_path, class: 'text-white' %></li>
        </ul>
        <p class="text-white text-center" style="background: hsla(0, 0%, 100%, 0.1);">
          今週の売上<span class="fontweight-700"><%= @weekly_revenue.to_sentence.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>円</span>
        </p>
      </div>
    </div>
</div>

<!--お知らせ一覧（四つまで表示）-->
<div class="news-box flex flex-column">
  <div class="card w-85">
    <div class="card-header p-2">
      <h3>お知らせ</h3>
    </div>
    <ul class="list-group list-group-flush">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <span class="fontweight-700"><%= post.created_at.strftime("%Y/%m/%d") %></span>
          <%= post.title %>
          <%= post.body %>
          <% if current_admin %>
            <%= link_to "編集", edit_post_path(post.id), class: 'btn-grad small-btn' %>
            <%= link_to "削除", post_path(post.id), method: :delete, class: 'btn-del small-btn', data: { confirm: "本当に削除しますか。" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
    <!--お知らせ履歴一覧-->
    <div class="my-3 align-self-end">
      <% if @posts.exists? %>
        <%= link_to "お知らせ履歴", posts_path, class: 'btn-grad' %>
      <% end %>
    </div>
  <!--新しいお知らせを投稿するフォーム-->
  <div class="row">
    <div class="col-12 mb-4">
      <h3>お知らせ作成</h3>
      <%= form_with model: @post, class: 'flex flex-wrap', local: true do |f| %>
        <div>
          <%= f.text_field :title, placeholder: 'お知らせのタイトル', class: 'form-control' %>
        </div>
        <!--<div>-->
          <%= f.text_field :body, placeholder: 'お知らせの内容', class: 'form-control' %>
        <!--</div>-->
        <div>
          <%= f.submit "投稿", class: 'btn-grad small-btn mb-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>