<%= render 'homes/slideshow' %>

<!--新着商品-->
<h2>新着商品</h2>
<div>
  <% @items.each do |item| %>
    <div>
      <%= link_to item_path(item) do %>
      <%= image_tag item.item_image.variant(resize_to_fill: [200, 200]) %>
      <% end %>
    </div>
    <div>
      商品名
      <%= item.name %>
    </div>
    <div>
      税込価格
      <%= item.add_tax %>
    </div>
  <% end %>
</div>

<!--お知らせ一覧(六つまで表示）-->
<h3>お知らせ</h3>
<ul>
<% @posts.each do |post| %>
  <li>
    <%= post.created_at.strftime("%Y-%m-%d") %>
    <%= post.title %>
    <%= post.body %>
    <% if current_admin %>
      <%= link_to "編集", edit_post_path(post.id) %>
      <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: "本当に削除しますか。" } %>
    <% end %>
  </li>
<% end %>
</ul>

<!--お知らせ履歴一覧-->
<% if @posts.exists? %>
  <%= link_to "お知らせ履歴", posts_path %>
<% end %>