<% @items.each do |item| %>
  <div>
    <%= link_to item_path(item) do %>
      <%= image_tag item.item_image.variant(resize_to_fill: [200, 200]) %>
    <% end %>
  </div>
  <div>
    商品名
    <%= item.name %>
  </div>
  <div>
    商品説明
    <%= item.description %>
  </div>
  <div>
    税込価格
    <%= item.add_tax %>
  </div>
  <div>
    <%= button_to "カートに入れる", order_items_path(:item_id => item.id) %>
  </div>
<% end %>