<div class="flex flex-column my-4 mx-auto">
  <h2>商品新規登録</h2>
  <%= form_with model: @item, local: true do |f| %>
  <div>
    <%= f.label :商品画像, class: 'fontweight-700 my-2' %>
    <%= f.file_field :image, accept: "image/*", class: 'form-control' %>
  </div>
  <div>
    <%= f.label :商品名, class: 'fontweight-700 my-2' %>
    <%= f.text_field :name, autofocus: true, placeholder: '商品名', class: 'form-control' %>
  </div>
  <div>
    <%= f.label :商品説明, class: 'fontweight-700 my-2' %>
    <%= f.text_area :description, placeholder: '商品説明をこちらに', class: 'form-control' %>
  </div>
  <div>
     <%= f.label :税抜価格, class: 'fontweight-700 my-2' %>
  </div>
  <div class="input-group">
    <span class="input-group-text">円</span>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <%= f.submit "登録", class: 'btn-grad my-3' %>
<% end %>
</div>