<div>
  <%= image_tag @item.item_image.variant(resize_to_fill: [200, 200]) %>
</div>
<div>
  商品名
  <%= @item.name %>
</div>
<div>
  商品説明
  <%= @item.description %>
</div>
<div>
  税込価格
  <%= @item.add_tax %>
</div>
<div>
  <%= button_to "カートに入れる", order_items_path(:item_id => @item.id) %>
</div>

<% if current_admin %>
  <%= link_to "編集", edit_item_path(@item) %>
<% end %>