<!--日本語化はまだです-->
<div class="container">
  <div class="flex flex-column align-items-center my-5">

    <div>
      <div class="flex flex-column m-auto mb-4">
        <h3>Revenue</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Revenue</th>
              <th scope="col">Customers</th>
              <th scope="col">Memo</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="new-rev">

            <% @revenues.each do |revenue| %>
            <tr id="rev-<%= revenue.id %>">
              <th scope="row"><%= revenue.id %></th>
              <td><%= revenue.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= (revenue.amount).to_s(:delimited) %></td>
              <td class="text-center"><%= revenue.head_count %></td>
              <td colspan="2" class="fontweight-700"><%= revenue.memo %></td>
            </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>

  </div>
</div>