<div class="container">
  <div class="flex flex-column align-items-center my-5">
    <div class="mb-3">
      <!--グラフを変更するためのボタン集-->
      <%= form_with url: ec_filter_path, local: false, method: :get do |f| %>
        <span class="mx-2"><%= f.submit "月間売上", class: 'btn-grad small-btn' %></span>
        <span class="mx-2"><%= f.submit "年間売上", class: 'btn-grad small-btn' %></span>
      <% end %>
    </div>

    <div id="ec_filter_result">
      <%= render 'revenues/ec_filter_date', chartdata: @chartdata %>
    </div>

    <div class="align-self-start">
    <span class="fontweight-700">今月の売上　</span><span><%= @monthly_order_revenue.to_sentence.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>円</span>
    </div>

    <div class="align-self-start">
      <span class="fontweight-700">今月の注文件数　</span><span><%= @monthly_order_count.to_sentence %>件</span>
    </div>

    <div class="align-self-start">
      <%= link_to "注文履歴一覧", orders_path, class: 'btn-grad small-btn' %>
    </div>
  </div>
</div>