<!--お知らせ一覧-->
<div class="news-box flex flex-column">
  <div class="card w-85">
    <div class="card-header p-2">
      <h3>お知らせ</h3>
    </div>
    <ul class="list-group list-group-flush">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <span class="fontweight-700"><%= post.created_at.strftime("%Y/%m/%d") %></span>
          <%= post.title %>
          <%= post.body %>
          <% if current_admin %>
            <%= link_to "編集", edit_post_path(post.id), class: 'btn-grad small-btn' %>
            <%= link_to "削除", post_path(post.id), method: :delete, class: 'btn-del small-btn', data: { confirm: "本当に削除しますか。" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
    <!--お知らせ履歴一覧-->
    <div class="my-3 align-self-end">
      <% if @posts.exists? %>
        <%= link_to "お知らせ履歴", posts_path, class: 'btn-grad' %>
      <% end %>
    </div>
</div>