<footer class="flex">
  <!--footer1 with information-->
  <div class="footer1 flex">
    <div class="flex">
      <div>
        <%= image_tag("abbeybaby_wh.png", size: "70x70") %>
      </div>
      <ul class="list1">
        <li class="fontweight-700">Links</li>
        <li>
          <%= link_to "Home", root_path, class: 'text-decoration-none text-white' %>
        </li>
        <li>
          <%= link_to "About", about_path, class: 'text-decoration-none text-white' %>
        </li>
      </ul>
    </div>
    <div>
      <span class="fontweight-700">Social Media</span>
      <ul class="list2 flex">
        <li>
          <%= link_to "#", class: 'text-decoration-none' do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#", class: 'text-decoration-none' do %>
            <i class="twitter fab fa-twitter"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div>
      <span class="fontweight-700">営業時間</span>
      <div class="flex">
        <p>
        月 〜 金<br>
        11am 〜 7pm
        </p>
        <p>
        土・日<br>
        10am 〜 9pm
        </p>
      </div>
    </div>
  </div>
  <!--footer2 with copyright-->
  <div class="footer2">
    <span>Copyright © 2022</span>
  </div>
</footer>