<header class="primary-header flex" style="background-color: #1E1E24;">
  <div>
    <%= image_tag("abbeybaby_wh.png", size: "50x50", class: "logo") %>
  </div>

  <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"></button>

  <nav>
    <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
      <li>
        <%= link_to "Home", root_path, class: "text-white" %>
      </li>
      <li>
        <%= link_to "MyPage", root_path, class: "text-white" %>
      </li>
      <li>
        <%= link_to "Products", root_path, class: "text-white" %>
      </li>
      <li>
        <%= link_to "Log out", root_path, class: "text-white" %>
      </li>
    </ul>
  </nav>
</header>